<header class="header group">
  <div class="header-logo">
    <a href="#"><img src="<%= Capstone.logo %>"/></a>
  </div>

  <nav class="primary-nav">
    <ul class="primary-nav-list group">
      <a href="#discover"><li>Discover</li></a>
      <a href="#projects/new"><li>Start a project</li></a>
    </ul>
  </nav>

  <nav class="query-nav">
    <form class="query-form group">
      &#128270;  <input type="text" class="query" placeholder="Search Projects">
    </form>
  </nav>

  <nav class="user-nav">
    <ul class="user-nav-list group">
      <% if(currentUser.isLoggedIn()) { %>
        <a href="#" id="log-out-link"><li>Log out</li></a>
      <% } else { %>
        <a href="#users/new"><li>Sign Up</li></a>
        <a href="#session/new"><li>Log in</li></a>
      <% } %>
    </ul>
  </nav>
</header>
