<h1>Log In</h1>
<form>
  <ul>
    <li><input type="text" name="user[email]" placeholder="Email" value="one@example.com"></li>
    <li><input type="password" name="user[password]" placeholder="Password" value="password"></li>
    <li><button>Log me in!</button></li>
  </ul>
</form>
<a href="/auth/facebook">Log in with Facebook!</a>
