<h1>User Show</h1>
<p>
  <%= user.escape('email') %>
</p>
<h1>Backed Projects</h1>
<div class="backed-projects-list group">

</div>

<h1>Created Projects</h1>
<div class="created-projects-list group">

</div>
