<h1 class="user-show-h1"> <%= user.escape('name') %></h1>
<p>
  Backed <%= user.escape('num_backed_projects') %>
  <% if (user.escape('num_backed_projects') == 1) { %>
    project
  <% } else { %>
    projects
  <% } %>
</p>
<br>
<br>

<h2 class="user-show-h2">Backed Projects</h2>
<div class="backed-projects-list group"></div>

<h2 class="user-show-h2">Created Projects</h2>
<div class="created-projects-list group"></div>
