<h1> <%= user.escape('name') %></h1>
<p>
  Backed <%= user.escape('num_backed_projects') %>
  <% if (user.escape('num_backed_projects') == 1) { %>
    project
  <% } else { %>
    projects
  <% } %>
</p>
<br>
<br>
<h1>Backed Projects</h1>
<div class="backed-projects-list group">

</div>

<h1>Created Projects</h1>
<div class="created-projects-list group">

</div>
