<div class="reward-table">

  <div class="reward-pledge-amt group">
    <label>Pledge amount</label>
    <input type="number" name="project[rewards][][pledge_amount]">
    <button class="remove-reward-form">Delete Reward</button>
  </div>

  <div class="reward-description group">
    <label>Description</label>
    <textarea name="project[rewards][][description]"></textarea>
  </div>

  <div class="reward-estimated-delivery group">
    <label>Estimated delivery</label>
    <input type="date" name="project[rewards][][estimated_delivery]"%>
  </div>

  <div class="reward-shipping-details group">
    <label>Shipping details</label>
    <div class="drop-down-div">
      <select class="shipping-drop-down" name="project[rewards][][shipping_location]">
        <% Capstone.SHIPPING.forEach(function(shipping_option) { %>
          <option><%= shipping_option %></option>
        <% }); %>
      </select>
    </div>
  </div>

  <div class="reward-limited-checkbox group">
    <label>Limit quantity</label>
    <div class="checkbox-div group">
      <input type="checkbox" class="checkbox limit_checkbox">
      <input type="number" class="checktext hideMe" name="project[rewards][][limited_quantity]">
    </div>
  </div>

</div>
