<h1>Explore a animated creative universe</h1>
<ul class="discover-list group">
  <a href="#"><li>All projects</li></a>
  <% Capstone.categories.forEach(function(category) { %>
    <a href="#categories/<%=category%>"><li><%= category %></li></a>
  <% }); %>
</ul>
