/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*reset*/
html, body, header, nav, section, article, h1, p, strong, em, a, ul, div, input, textarea, select {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  vertical-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display:block;
}

#main {
  padding-top: 50px;
  /*min-height: 100%;*/
}

#main > div.project-show {
  padding-bottom: 0;
}

body {
  min-height: 100%
}

form.big-project-form {
  padding-bottom: 50px;
}

body {
  background: rgb(245, 249, 249);
}

strong {
  font-weight: 700;
}

/*project show*/

div.title-section {
  /*border: 1px solid red;*/
  text-align: center;
  padding: 40px 20px;
}

div.title-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

section.top-section {
  /*border: 1px solid blue;*/
  width: 1080px;
  margin: auto;
}

section.bottom-section {
  /*border: 1px solid orange;*/
  background: #fff;
  padding-bottom: 100px;

}

div.full-description {
  /*border: 1px solid green;*/
  font-size: 22px;
  margin-top: 50px;
  margin-left: 20px;
  width: 600px;
  float: left;
}

div.tent {
  width: 1080px;
  margin: auto;
}


div.top-row-1 {
  /*border: 2px solid purple;*/
}
div.top-row-2 {
  /*border: 2px solid yellow;*/
  height: 200px;
}

div.stats {
  /*border: 1px solid orange;*/
  float:right;
  width: 319px;
  height: 450px;
  margin: 0px 20px;
  padding-top: 60px;
  border-bottom: 1px solid #d9d9de;
}

div.stats h1 {
  font-weight: bold;
  font-size: 32px;
}

div.video {
  /*border: 1px solid orange;*/
  float: left
}
div.blurb {
  /*border: 1px solid red;*/
  float:left;
  padding: 40px 20px;
  font-size: 22px;

}
div.owner-desc {
  /*border: 1px solid red;*/
  float:right;
  width: 320px;
  padding: 40px 0px;
}


div.full-description h1 {
  margin-bottom: 20px;
}

div.full-description p {
  font-size: 18px;
}

div.bottom-content {
  width: 1080px;
  margin: auto;
}

.hideMeRails {
  display: none;
}

img.show-img {
  width: 680px;
  height: 500px;
}
