/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, section, article, h1, p, strong, em, a, div {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}


div .projects-index-item {
  border: solid 1px #d9d9de;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

div.rewards {
  border: solid 1px black;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

ul.rewards-list {
  list-style: none;
  padding: 0;
}

ul.rewards-list li {
  border: solid 1px #d9d9de;
  width: 320px;
  margin: 10px;
  padding: 20px;
  background: #f7fafa;
}

ul.rewards-list li:hover {
  border-radius: 6px;
  background: green;
  color: #d9d9de;
}

strong {
  font-weight: 700;
}
