/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, header, nav, section, article, h1, p, strong, em, a, ul, div, input, textarea, select {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display:block;
}


div .projects-index-item {
  border: solid 1px #d9d9de;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

div.rewards {
  border: solid 1px black;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

ul.rewards-list {
  padding: 0;
}

ul.rewards-list li {
  border: solid 1px #d9d9de;
  width: 320px;
  margin: 10px;
  padding: 20px;
  background: #f7fafa;
}

ul.rewards-list li:hover {
  border-radius: 6px;
  background: green;
  color: #d9d9de;
}

strong {
  font-weight: 700;
}

div.title-section {
  border: 1px solid red;
  text-align: center;
}

section.top-section {
  border: 1px solid blue;
  background: #f7fafa;
}

section.bottom-section {
  border: 1px solid orange;
}

div.full-description {
  border: 1px solid green;
  float: left;
}

div.top-row-1 {
  border: 2px solid purple;
}
div.top-row-2 {
  border: 2px solid yellow;
}

div.stats {
  border: 1px solid orange;
  float:right
}
div.video {
  border: 1px solid orange;
  float: left
}
div.blurb {
  border: 1px solid red;
  float:left
}
div.owner-desc {
  border: 1px solid red;
  float:right
}

header {
  border: 1px solid black;
}

ul.header-list li {
  float: left
}

header li {
  float:left;
  padding: 20px 15px 20px 15px;
}

nav.primary-nav {
  float:left;
  border-right: solid 1px #d9d9de
}

nav.user-nav {
  float:right

}

h1.header-logo {
  float:left;
}

div.header-logo {
  float:left;
}

div.rewards-form-list {
  /*border: solid 1px red;*/
}

div.reward-table {
  width: 450px;
  margin: auto;
  background: rgb(242, 242, 243);
  border: solid 1px #d9d9de;
  border-radius: 3px;
}

div.reward-table label {
  float: left;
  /*border: solid 1px orange;*/
  width: 120px;
  font-size: 12px;
  padding: 10px;
}

div.reward-table > div {
  border-bottom: 1px solid #d9d9de;
}

div.reward-table {
  float: right;
  width: 450px;
}

div.reward-table > div.reward-limited-checkbox {
  border-bottom: 0px;
}

div.rewards-form-list {
  width: 640px;
  margin: auto;
}

form.reward-form {
  /*border: 1px solid red;*/
  padding: 10px;
  background: #f7fafa;
  margin-bottom: 10px;
}

div.reward-table input {
  background: white;
  border-left: solid 1px #d9d9de;
  width: 200px;
  padding: 10px;
}

div.reward-pledge-amt > input {
  width: 99px;
  border-right: 1px solid #d9d9de;
}

div.reward-table textarea {
  width: 289px;
  background: white;
  resize: none;
  border-left: solid 1px #d9d9de;
  padding: 10px;
}

ul.project-inputs {
  margin: 10px auto;
  width: 620px;
  padding: 20px;
  border: solid 1px #d9d9de;
  border-radius: 3px;
  font-size: 12px;
}

ul.project-inputs li {
  background: #f7fafa;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 4px;
}

label {
  font-weight: 700;
}

ul.project-inputs input {
  border: solid 1px #d9d9de;
  border-radius: 3px;
  width: 450px;
  padding: 5px;
}

div.inputs-right {
  float: right;
}

ul.project-inputs label {
  float: left;
  /*border: solid 1px orange;*/
  width: 120px;
  font-size: 12px;
  padding: 10px;
}

/*ul.project-inputs * {
  border: solid 1px orange;
}*/

ul.project-inputs p {
  width: 400px;
  padding: 5px 10px;
  /*border: solid 1px black;*/
}

ul.project-inputs textarea {
  width: 289px;
  background: white;
  resize: none;
  border: solid 1px #d9d9de;
  border-radius: 3px;
  padding: 10px;
  width: 400px;
}

ul.project-inputs input {
  background: white;
  border: solid 1px #d9d9de;
  width: 400px;
  padding: 10px;
}

select.category-drop-down {
  background: white;
  border: solid 1px #d9d9de;
  width: 420px;
  padding: 10px;
}


div.proj-img-div {
  border: 1px dashed #d9d9de;
  border-radius: 3px;
  background: white;
  width: 420px
}

#input-project-image {
  border: none;
}
