form.big-project-form button {
  padding: 10px;

}


div.buttons {
  margin: 10px auto;
  width: 105px;
}

button.remove-reward-form {
  background: white;
  padding: 5px;
  margin-left: 50px;
  outline: 0;
  border: 0px;
}

button.remove-reward-form:hover {
  background: rgb(242, 242, 243);
}

button.add-reward-form {

  border-radius: 3px;
  border: dashed 1px rgb(217, 217, 222);
  background: white;
}

button.add-reward-form:hover {
  background: rgb(247, 250, 250);
  color: rgb(0, 160, 255);
}

button.submit-project {
  border: 1px;
  background: rgb(43, 221, 92);
  font-size: 20px;
  color: white;
  border-radius: 3px;
}

button.submit-project:hover {
  background: rgb(29, 184, 92);
}

ul.project-inputs {
  background: white;
  margin: 10px auto;
  width: 620px;
  padding: 20px;
  border: solid 1px #d9d9de;
  border-radius: 3px;
  font-size: 12px;
}

ul.project-inputs li {
  background: #f7fafa;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 4px;
}

label {
  font-weight: 700;
}

ul.project-inputs input {
  border: solid 1px #d9d9de;
  border-radius: 3px;
  width: 450px;
  padding: 5px;
}

div.inputs-right {
  float: right;
}

ul.project-inputs label {
  float: left;
  /*border: solid 1px orange;*/
  width: 120px;
  font-size: 12px;
  padding: 10px;
}

ul.project-inputs p {
  width: 400px;
  padding: 5px 10px;
  /*border: solid 1px black;*/
}

ul.project-inputs textarea {
  width: 289px;
  background: white;
  resize: none;
  border: solid 1px #d9d9de;
  border-radius: 3px;
  padding: 10px;
  width: 400px;
}

ul.project-inputs input {
  background: white;
  border: solid 1px #d9d9de;
  width: 400px;
  padding: 10px;
}

select.category-drop-down {
  background: white;
  border: solid 1px #d9d9de;
  width: 420px;
  padding: 10px;
}


div.proj-img-div {
  border: 1px dashed #d9d9de;
  border-radius: 3px;
  background: white;
  width: 420px;
}

#input-project-image {
  border: none;
}

button.fill-in {
  display: block;
  margin: 0 auto;

  border-radius: 3px;
  border: dashed 1px rgb(217, 217, 222);

  background: rgb(43, 221, 92);
  color: white;
}

button.fill-in:hover {
  background: rgb(29, 184, 92);
}
