div.reward-table {
  float: right;
  width: 450px;
  margin: auto;
  background: rgb(242, 242, 243);
  border: solid 1px #d9d9de;
  border-radius: 3px;
}

div.reward-table label {
  float: left;
  /*border: solid 1px orange;*/
  width: 120px;
  font-size: 12px;
  padding: 10px;
}

div.reward-table > div {
  border-bottom: 1px solid #d9d9de;
}


div.reward-table > div.reward-limited-checkbox {
  border-bottom: 0px;
}

div.reward-table input {
  background: white;
  border-left: solid 1px #d9d9de;
  width: 200px;
  padding: 10px;
}

div.reward-pledge-amt > input {
  width: 99px;
  border-right: 1px solid #d9d9de;
}

div.reward-table textarea {
  width: 289px;
  background: white;
  resize: none;
  border-left: solid 1px #d9d9de;
  padding: 10px;
  display: block;
}

div.reward-limited-checkbox label {
  position: relative;
}

input.hideMe {
  display: none;
}

div.reward-limited-checkbox {
  height: 55px;
}

/*
#checkbox {
  width: 20px;
  position: absolute;
  margin: 10px auto auto 10px;
}*/
div.checkbox-div {
  border-left: 1px solid #d9d9de;
  /*border: 1px solid blue;*/
  width: 309px;
  float: right;
}

div.checkbox-div input {
  float: left;
}

div.reward-table input.checkbox {
  width: 20px;
  height: 54px;
  margin-left: 10px;
  margin-right: 10px;
}

div.reward-table input.checktext {
  width: 100px;
  height: 24px;
  border: 1px solid #d9d9de;
  margin-top: 5px;
  position: relative;
}

ol.rewards-form-list {
  width: 620px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: solid 1px #d9d9de;
  border-radius: 3px;
  counter-reset: item;
  list-style-type: none;
  width: 620px;
  font-weight: bold;
}

ol li.reward-form {
  /*border: 1px solid red;*/
  padding: 5px;
  background: #f7fafa;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
}

ol li:before {
  content: 'Reward #' counter(item, decimal);
  counter-increment: item;
}

div.drop-down-div {
  float: left;
  width: 298px;
  height: 24px;
  border-left: solid 1px #d9d9de;
  padding: 5px;
  border-radius: 0;
  background: white;
  /*border: 1px solid blue;*/
}

select.shipping-drop-down {
  width: 100%;
  background: white;
}
