/*rewards*/
div.rewards {
  /*border: solid 1px black;*/
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

ul.rewards-list {
  padding: 0;
}

ul.rewards-list li {
  /*border: solid 1px #d9d9de;*/
  width: 270px;
  margin: 20px 10px;
  padding: 20px;
  background: #f7fafa;
  font-size: 14px;
  position: relative;
}

ul.rewards-list li:hover {
}

div.reward-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgb(60, 221, 101);
  border-radius: 0px;
  transition: opacity 200ms, border-radius 200ms;
  color: white;
}

div.gone {
  background: rgb(130,133,135);
  cursor: default;
}

div.reward-hover p {
  text-align: center;
  font-size: 40px;
  /*margin: auto;*/
  position: relative;
  font-weight: 300;
  top: 35%;
  transition-duration: 200ms;
}

div.reward-hover:hover {
  opacity: .92;
  border-radius: 6px;
  transition: opacity 200ms, border-radius 200ms;
}

div.reward-hover:hover p {
  transform: scale(.5);
  transition-duration: 200ms;
}

li.become-backer {
  cursor: pointer;
}

div.rewards h1 {
  padding-left: 10px;
  margin: 50px 0px;
  font-size: 22px;
}

li.become-backer span {
  font-weight: bold;
  background: #ffffc9;
}
