
#main > div.signlog-div {
  border: solid 1px #d9d9de;
  border-radius: 6px;
  width: 400px;
  margin: 60px auto 60px auto;
  padding: 20px 20px 20px 20px;
  font-weight: normal;
  background: white;
}

div.signlog-div h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

div.signlog-div input {
  border: solid 1px #d9d9de;
  border-radius: 6px;
  padding: 10px;
  width: 380px;
}

div.signlog-div button {
  border: solid 1px #d9d9de;
  border-radius: 6px;
  background: rgb(42, 219, 113);
  color: white;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

div.signlog-div ul {
}

div.signlog-div li {
  margin-bottom: 20px;
}

div.signlog-div input:focus {
  outline: 1px solid rgb(0, 160, 255);
}

div.signlog-div button:hover{
  background: rgb(36, 174, 67);
  cursor: pointer;
}

div.signlog-div button.fb {
  background: rgb(59, 89, 152);
}

div.signlog-div button.fb:hover {
  background: rgb(48, 72, 123);
}

/*#main > div.signlog-div {
  padding: 20px 20px 20px 20px;
}*/


div.signlog-div button.guest {
  background: rgb(229, 23, 35)
}

div.signlog-div button.guest:hover {
  background: rgb(208, 6, 40)
}
