<% if (results.length) { %>
  <h1>
    Explore <label class="result-total-count"><%= results.length %></label>
    <% if (results.length === 1) {%>
      project
    <% } else { %>
      projects
    <%  } %>
  </h1>
<% } else if (errors === "found nothing") { %>
  <h1>
    Oops! Looks like we couldn’t find any results. Why not change some things around or broaden your search?
  </h1>
<% } %>

<ul class="search-results-index group">

</ul>
