<% if (results.total_count || results.count) { %>
  <h1>
    Explore <label class="result-total-count"><%= results.total_count || results.count %></label>
    <% if (results.total_count == 1 || results.count == 1) {%>
      project
    <% } else { %>
      projects
    <%  } %>
  </h1>
<% } else { %>
  <h1>
    Oops! Looks like we couldn’t find any results. Why not change some things around or broaden your search?
  </h1>
<% } %>

<ul class="search-results-index group">

</ul>
